:root{
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3: 4rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;

    /* FONT WEIGHT */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* LINE HEIGHT */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /* LETTER SPACING */
    --letter-spacing-tight: -2px;

    /* FONT FAMILY */
    --font-family: 'VT323', monospace;


    /* COLOUR */

    --primary-base: #0F172A;
    --primary-tint: #1E293B;

    --red: hsl(0, 84%, 64%);
    --green:  hsl(120, 100%, 50%);

    --white: #F8FAFC;
    --black: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: var(--font-family);
    font-size: var(--text-base);
    line-height: var(--line-height-normal);
    color: var(--white);
    
}

#main-container{
    width: 40rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:var(--primary-tint) ;
    margin: 2rem auto;
    gap: 2rem;
    border: 2px solid var(--white);
    border-radius: 8px;
    text-align: center;
}

button{
    cursor: pointer;
    font-family: var(--font-family);
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    padding: 6px;
    border: 1px solid var(--white);
    border-radius: 8px;
    background-color:var(--primary-tint) ;
    color: var(--white);
    margin-top: 1rem;
    margin-bottom: 2rem;
    transition: 0.5s ease-in-out;
}

button:hover{
    background-color: var(--white);
    color: var(--primary-base);
    transform: scale(1.05, 1.05);
}

.score-bg{
    text-align: center;
    background: var(--primary-base);
    border-radius: 8px;
}

#home_display, #guest_display{
    padding: 4px;
}

.greenText{
    color: var(--green);
}
.redText{
    color: var(--red);
}

